.header {
  padding: 10px 0;
}

.header a {
  text-decoration: none;
  color: rgb(73, 59, 23);
  text-transform: uppercase;
}

.header a:hover {
  text-decoration: underline;
}

.header__inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.header__top {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}